@charset "utf-8";
.banner{
    position: relative;
    width: 100%;
    min-width: 1200px;
    background: url("../images/newsBanner.png") no-repeat 50% 50%;
    overflow: hidden;
}
.bannerContent{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 104px 0 100px;
}
.bannerContent h2{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}
.bannerContent h4{
    padding-top: 18px;
    font-size: 22px;
    color: #ffffff;
}
.bannerContent a{
    display: block;
    width: 178px;
    height: 46px;
    margin: 46px 0 0;
    border: 2px solid #ffffff;
    border-radius: 23px;
    line-height: 46px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
.bannerContent b{
    position: absolute;
}
.bannerContent b.topLeft{
    top: 62px;
    left: 546px;
}
.bannerContent b.topRight{
    top: 38px;
    left: 1112px;
}
.bannerContent b.bottomLeft{
    top: 244px;
    left: 624px;
}
.content{
    width: 1200px;
    margin: 0 auto;
    padding: 54px 0 60px;
}
.main{
    float: left;
    width: 840px;
}
.main li{
    float: left;
    padding: 0 26px;
    border-right: 2px solid #E3E3E3;
    font-size: 16px;
    color: #96989b;
    cursor: pointer;
}
.main li:first-child{
    padding-left: 0;
}
.main li:last-child{
    border-right: 0;
}
.main li:hover,.main li.hover{
    color: #00bcd4;
}
.newsTag{
    margin-top: 24px;
}
.newsTag>div{
    display: none;
}
.newsTag>div.active{
    display: block;
}
.newsBox{
    width: 770px;
    margin-bottom: 10px;
    padding: 28px 46px 28px 22px;
    border: 1px solid #ececec;
    background: #fcfcfc;
}
.newsBox .newsImg{
    float: left;
    width: 260px;
    height: 160px;
    overflow: hidden;
}
.newsBox .newsImg img{
    width: 100%;
}
.newsBox .newsText{
    float: right;
    width: 466px;
}
.newsBox .newsText h4{
    font-size: 16px;
    font-weight: bold;
    color: #535353;
}
.newsBox .newsText h4 a:hover{
    color: #00bcd4;
}
.newsBox .newsText p{
    height: 69px;
    padding: 24px 0 36px;
    line-height: 23px;
    font-size: 14px;
    color: #96989b;
    overflow: hidden;
}
.newsBox .newsText b{
    font-size: 12px;
    color: #96989b;
}
.newsBox .newsText b.from{
    float: left;
    margin-right: 98px;
    font-size: 14px;
    font-weight: bold;
    color: #00bcd4;
}
.newsBox .newsText b.time{
    float: left;
    height: 16px;
    padding-left: 20px;
    background: url("../images/shijian.png") no-repeat left center;
    line-height: 16px;
}
.newsBox .newsText b.comment{
    float: right;
    height: 16px;
    padding-left: 20px;
    background: url("../images/pinlun.png") no-repeat left center;
    line-height: 16px;
}
.aside{
    float: right;
    width: 306px;
    margin-top: 40px;
}
.dAside{
    margin-top: 0;
}
.aside>a{
    display: block;
    width: 174px;
    height: 66px;
    padding-left: 130px;
    border: 1px solid #ececec;
    background: #fcfcfc url("../images/tougao.png") no-repeat 32% 50%;
    line-height: 66px;
    font-size: 20px;
    font-weight: bold;
    color: #00bcd4;
}
.aside h4{
    padding: 26px 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #535353;
}
.calendar{
    width: 265px;
    padding: 0 25px 30px 14px;
    border: 1px solid #ececec;
    background: #fcfcfc;
}
.calendar>div{
    position: relative;
    padding: 30px 0 0 14px;
    border-left: 1px solid #ececec;
}
.calendar h3{
    line-height: 20px;
    font-size: 14px;
    color: #535353;
    cursor: pointer;
}
.calendar b.time{
    display: block;
    height: 16px;
    padding: 14px 0 10px 20px;
    background: url("../images/shijian.png") no-repeat left 55%;
    line-height: 16px;
    font-size: 12px;
    color: #96989b;
}
.calendar b.nobb{
    border-bottom: 0;
}
.calendar i{
    position: absolute;
    display: block;
    top: 36px;
    left: -5px;
    width: 10px;
    height: 10px;
    background: url("../images/calendar.png") no-repeat;
}
.calendarBox{
    overflow: hidden;
}
.calendarBox.off{
    height: 0;
}
.calendarBox p{
    padding: 10px;
    border: 1px dashed #00bcd4;
    line-height: 20px;
    font-size: 14px;
    color: #535353;
}
.calendarBox span{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    margin: -4px auto 0;
    border: 1px solid #00bcd4;
    border-radius: 5px;
    background: #fcfcfc;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #999999;
    cursor: pointer;
}
.calendarBox span i{
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background: #fcfcfc;
}
.newsDetails{
    width: 746px;
    margin-bottom: 10px;
    padding: 46px;
    border: 1px solid #ececec;
    background: #fcfcfc;
}
.newsDetails h2{
    margin-bottom: 30px;
    line-height: 36px;
    font-size: 24px;
    font-weight: bold;
}
.newsDetails p{
    padding: 20px 0 0;
    line-height: 22px;
    font-size: 16px;
}
.newsDetails img{
    max-width: 80%;
    margin: 20px auto;
}
.main.details li{
    padding: 0 4px;
    border: 0;
}
.newsDetails h3{
    float: left;
    height: 35px;
    line-height: 35px;
}
.newsDetails .newsText{
    height: 26px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ececec;
}
.newsDetails .newsText b{
    font-size: 12px;
    color: #96989b;
}
.newsDetails .newsText b.from{
    float: left;
    margin-right: 98px;
    font-size: 14px;
    font-weight: bold;
    color: #00bcd4;
}
.newsDetails .newsText b.time{
    float: left;
    height: 16px;
    padding-left: 20px;
    background: url("../images/shijian.png") no-repeat left center;
    line-height: 16px;
}
.newsDetails .newsText b.comment{
    float: right;
    height: 16px;
    padding-left: 20px;
    background: url("../images/pinlun.png") no-repeat left center;
    line-height: 16px;
}
.eq{}
.eq h6{
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.eq .eqCode{
    width: 200px;
    margin: 0 auto;
}